#prim-btn, #prim-btn-disabled {
    font-family: 'Montserrat';
    font-weight: 700;
    background-color: white;
    padding: 1rem 2rem 1rem 4rem;
    letter-spacing: 0.2em;
    border-radius: 2rem;
    border: none;
    text-transform: uppercase;
    position: relative;
    transition: background-color 0.2s, color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: .875rem;
}

#prim-btn:before, #prim-btn-disabled:before, #prim-btn-twitter:before {
    content: "";
    position: absolute;
    background-color: black;
    width: 1.5rem;
    height: 0.1rem;
    top: 50%;
    left: 1.5rem;
    border-radius: 1rem;
    transition: 0.2s background-color;
    color: black;
}

#prim-btn-twitter:before {
    transition: 0s background-color;
}


#prim-btn:hover, #prim-btn-twitter:hover {
    background-color: #7C6DF1;
    color: white;
}

#prim-btn:hover:before, #prim-btn-twitter:hover:before {
    content: "";
    position: absolute;
    background-color: white;
    width: 1.5rem;
    height: 0.1rem;
    top: 50%;
    left: 1.5rem;
    border-radius: 1rem;
}




#prim-btn:focus {
    outline: 0.1rem solid transparent;
}

#sec-btn {
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: lowercase;
    background-color: transparent;
    color: white;
    border: transparent;
    padding: 0.5rem 0rem;
    border-bottom: 2px dotted white;
    transition: font-weight 0.2s;
    text-align: center;
    cursor: pointer;
    font-size: .875rem;
}

#sec-btn:hover {
    font-weight: 700;
}

.sec-btn-inline {
    text-decoration: none;
    padding: 0.1rem 0rem;
    color: $color-purpleDark;
    border-bottom: .06rem dotted white;
    font-size: .875rem;
    margin: 0 .2rem;
    color: white;
}

.sec-btn-inline:hover {
  color: #7C6DF1;
  border-bottom: .06rem dotted #7C6DF1;
}

.sec-btn-inline::after {
  content: '';
  position: absolute;
  height: .7rem;
  width: .7rem;
  background-image: url('/assets/img/icons/link.svg');
  background-repeat: no-repeat;
  transform: translate(.4rem, .6rem)
}