textarea {
    border-radius: .5rem;
}

.navigation-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 1rem 0 0;
  }

  .maxi-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: 1024px) {
    .container {
        max-width: 60rem;
        margin: 0 1.56rem;
    }

    /* .maxi-form-container {
        margin: 0 1rem;
    } */

    .navigation-form {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 4rem;
        align-items: center;
    }

    .bol-container {
        display:none;
    }

    /* .selectedBadge-container {
        background-image: url('/assets/img/flagMobile.svg');
        background-repeat: no-repeat;
        width: 30rem; 
      } */
  }




.img-badge-form {
    margin-left: -4.5rem;
    z-index: 2;
}

.selectedBadge-container {
    /* background-color: #331F9F;
    background-position-x: 2rem;
    background-position-y: center;
    background-size: 100% 200%; */
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 4.5rem;

    position: relative;
    height: 100%;
  }

  .selectedBadge-container .badge-text {
    height: 100%;
    width: 100%;
    background-color: #331F9F;
    padding: 2rem;
    transform: translateX(-5rem)
  }

    .selectedBadge-container .badge-text::after {
    content: '';
	  position: absolute;
    background-image: url('/assets/img/flag/flag-right.svg');
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    transform: translateX(2rem);
    background-repeat: no-repeat;
    background-position: center right;
  }


  .selectedBadge-name {
    letter-spacing: 0.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 4rem;
  }

  .selectedBadge-receiver {
    letter-spacing: 0.1rem;
    font-weight: 400;
    margin-left: 4rem;

  }

  .bol {
      background-color: #A37FFA;
      width: .8rem;
      height: .8rem;
      margin: 0.5rem;
      border-radius: 2rem;
      opacity: 0.4;
  }

  .bol-active {
    opacity: 1;
  }

  .bol-inactive {
      cursor: default;
  }
  

  .twitterlink {
    color: #A37FFA;
    margin-bottom: 2rem;
  }