@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


h1 {
    font-size: 4rem;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-bottom: 2rem;
}


#prim-btn {
    font-family: 'Montserrat';
    font-weight: 700;
    background-color: white;
    padding: 1rem 2rem 1rem 3rem;
    letter-spacing: 0.2em;
    border-radius: 2rem;
    border: none;
    text-transform: uppercase;
    position: relative;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: .875rem;
}

#prim-btn:before {
    content: "";
    position: absolute;
    background-color: black;
    width: 1.5rem;
    height: 0.1rem;
    top: 50%;
    left: 1.5rem;
    border-radius: 1rem;
    transition: 0.2s background-color;
}


#prim-btn:hover {
    background-color: #7C6DF1;
    color: white;
}

#prim-btn:hover:before {
    content: "";
    position: absolute;
    background-color: white;
    width: 1.5rem;
    height: 0.1rem;
    top: 50%;
    left: 1.5rem;
    border-radius: 1rem;
}

#prim-btn:focus {
    outline: 0.1rem solid transparent;
}

#sec-btn {
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: lowercase;
    background-color: transparent;
    color: white;
    border: transparent;
    padding: 0.5rem 0rem;
    border-bottom: 2px dotted white;
    transition: font-weight 0.2s;
    text-align: center;
    cursor: pointer;
    font-size: .875rem;
}

#sec-btn:hover {
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-family: 'Montserrat';
    font-weight: 700;
    position: relative;
    margin-bottom: 2rem;
}

h2:before {
    content: "";
    position: absolute;
    background-color: white;
    width: 2rem;
    height: 0.3rem;
    top: 50%;
    left: -3rem;
    border-radius: 1rem;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
}

.hidden {
    display: none;
}


.navigation-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 65%;
    margin: 3rem;
  }

  .maxi-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.router-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 3rem;
  }


.data-selected-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selectedBadge-container {
    background-image: url('/assets/img/flag.svg');
    background-repeat: no-repeat;
    width: 30rem;
    height: 7rem;
    background-position-x: 7rem;
    margin-bottom: 4rem;
  }

  .selectedBadge-name {
    letter-spacing: 0.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 2rem;
    max-width: 14rem;
  }

  .selectedBadge-receiver {
    letter-spacing: 0.1rem;
    font-weight: 400;
    margin-left: 2rem;
    max-width: 14rem;
  }
  