@font-face {
    font-family: 'montserratbold';
    src: url('../assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../assets/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('../assets/fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1 {
    font-size: 4rem;
    font-family: 'montserratbold';
}


#prim-btn {
    font-family: 'montserratbold';
    background-color: white;
    padding: 1rem 2rem;
    letter-spacing: 0.2em;
    border-radius: 2rem;
    border: none;
    text-transform: uppercase;
}


h2 {
    font-size: 2rem;
    font-family: 'montserratbold';
    position: relative;
    margin-bottom: 2rem;
}

h2:before {
    content: "";
    position: absolute;
    background-color: white;
    width: 2rem;
    height: 0.3rem;
    top: 1rem;
    left: -3rem;
    border-radius: 1rem;
}